html {
  scroll-behavior: smooth;
  overflow-y: overlay;
}
a {
  transition: all 200ms;
}
.row-reverse {
  flex-direction: row-reverse;
}
/* ::-webkit-scrollbar{
  display: none;
} */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(143, 143, 143, 0.15);
  border-radius: 5px;
}
.flex-1 {
  flex: 1;
}
.side-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  overflow: hidden;
  z-index: 10;
  transition: all 300ms;
  height: 100vh;
  padding-left: 10px;
}
.side-bar ul {
  flex: unset;
  height: 200px;
  transition: all 300ms;
  max-height: 800px;
}
.side-bar i {
  font-size: 18px;
  cursor: pointer;
  color: rgb(94, 94, 94);
  text-decoration: none;
  margin: 8px 0px;
  transition: all 300ms;
}
.side-bar:hover {
  width: unset;
}
.side-bar:hover ul {
  height: 100vh;
}
.side-bar:hover i {
  font-size: 30px;
  color: #909090;
}
.nav-item:hover i {
  transform: scale(1.5) rotate(360deg);
  cursor: pointer;
  color: orange;
  text-decoration: none;
}
.nav-item {
  width: auto;
  display: flex;
  align-items: center;
}
.nav-item i {
  margin-right: 16px;
}
.nav-item p {
  opacity: 0;
  font-weight: bold;
  transition: all 300ms;
  margin-left: -35%;
  right: 0px;
}
.nav-item:hover p {
  opacity: 1;
  margin-left: 0px;
}
ul {
  list-style: none;
  margin: 0%;
  padding: 0%;
}
.experience-list li {
  padding: 8px;
  margin: 12px 0%;
  border-radius: 8px;
  font-size: 14px;
  background-color: #404040;
}
.skills-list li {
  padding: 4px;
}
.skills-list p {
  font-size: 14px;
  padding: 12px;
  font-weight: bold;
  border-radius: 100px;
  background-color: #cecece;
  color: #404040;
}
.hand-pointer {
  cursor: pointer;
}
header {
  background: linear-gradient(
    170deg,
    rgb(121, 121, 121) 0%,
    rgb(47, 47, 47) 50%
  );
}
.cover-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.bg-gradient-light {
  background: linear-gradient(177deg, rgb(226, 226, 226) 0%, #adb5bd 50%);
}
.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}
.cover-container img {
  width: 100%;
  z-index: 1;
}
.piece {
  width: 175px !important;
  transition: all 100ms linear !important;
}
.circle-image-big {
  width: 25vw;
  height: 25vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 0;
}

.circle-image {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 0;
}

.piece-1 {
  transform: translate(0px, 30px) rotate(-10deg);
  z-index: 4;
}
.piece-2 {
  transform: translate(0px, 40px) rotate(10deg);
  z-index: 3;
}
.piece-3 {
  transform: translate(5px, 45px) rotate(-10deg);
  z-index: 2;
}
.piece-4 {
  transform: translate(20px, 45px);
  z-index: 1;
}

.img-wrapper:hover .piece-1 {
  transform: translate(0px, 1px) rotate(0deg);
}
.img-wrapper:hover .piece-2 {
  transform: translate(0px, 0px) rotate(0deg);
  margin-top: -28px;
}
.img-wrapper:hover .piece-3 {
  transform: translate(0px, 0px) rotate(0deg);
  margin-top: -28px;
}
.img-wrapper:hover .piece-4 {
  transform: translate(0px, 0px) rotate(0deg);
  margin-top: -28px;
}

.cover-title {
  letter-spacing: -7px;
  font-size: 100px;
}

@font-face {
  font-family: mulli;
  src: url(assets/Muli-Black.ttf);
}

.strong-text {
  font-family: mulli;
  font-weight: lighter;
}

.center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-pink {
  background-color: #ff0048 !important;
}
.reverse {
  transform: scaleX(-1);
}
/* /////////////////////////////////////////////////////////////////// */

* {
  margin: 0%;
  color: #cfcfcf;
}
.sample-thumb {
  height: 300px;
  margin-bottom: 10px;
  border: solid rgb(80, 80, 80) 5px;
}
.sample-thumb img {
  height: 100%;
}
.tech-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tech-container p {
  text-align: center;
  word-break: break-all;
  font-size: 14px;
  margin-top: 16px;
  font-weight: bold;
  transition: all 300ms;
}
.tech-container:hover p {
  text-shadow: 0px 0px 8px orange;
  color: white;
}
.tech-container:hover img {
  color: white;
}
.tech-logo {
  width: 80px;
}

.time-dot {
  height: 20px;
  width: 20px;
  margin: 8px;
  background-color: orange;
  border-radius: 100%;
}
.time-line {
  flex: 1;
  width: 6px;
  background-color: orange;
  opacity: 0.5;
  border-radius: -100px;
}
.short-line {
  flex: unset;
  height: 8px;
}
.small-dot {
  width: 8px;
  height: 8px;
  margin: 2px 0px;
}

@media (max-width: 1024px) {
  .cover-container {
    min-height: unset;
  }
  .sample-thumb {
    height: unset;
    margin-bottom: 10px;
    width: 50%;
  }
  .sample-thumb img {
    height: unset;
    width: 100%;
  }
  .cover-title {
    font-size: 60px;
    letter-spacing: -4px;
  }
  footer div {
    margin-right: 0px !important;
  }
}
@media (max-width: 450px) {
  nav {
    visibility: hidden;
  }
  .side-bar {
    visibility: hidden;
  }
  .sample-thumb {
    height: unset;
    margin-bottom: 10px;
    width: 100%;
  }
  .sample-thumb img {
    width: 100%;
  }
  h3, h5{
    font-size: 30px!important;
  }
  body p {
    text-align: start;
  }
  .circle-image-big {
    width: 150px;
    height: 150px;
  }
  .revertible-row {
    flex-direction: column-reverse;
  }
  .tech-logo {
    width: 60px;
  }
}
